$debug: false !default;
$image-url-path: "assets/img/" !default;
$font-url-path: "assets/fonts/" !default;
$primary_color_1: #ffffff !default;
$primary_color_2: #000000 !default;

//GRID Settings
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$grid-breakpoints: (
        xs: 0,
        sm: 544px,
        md: 768px,
        lg: 1024px,
        xl: 1360px
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1300px
) !default;


// THEME COLORS
$themeColorOne: #572929; // Обычно самый темный цвет. Используется для: заголовков h1-h6 - $titleFontColor и других.
$themeColorTwo: #EE409E; // Основной/акцентный цвет бренда. Поменять значение этой переменной согласно макета обязательно!
$dark_accent_color: #9C085F;
$border_light_color: #EAEAEA;
$logo_box_shadow: 0 4px 12px rgba(254, 139, 166, 0.15);
$logo_border_radius: 0px 0px 25px 25px;
$button_box_shadow: 0px 4px 3px rgba(0, 0, 0, 0.6), inset 0px -1px 2px rgba(255, 255, 255, 0.1);
$button_hover_box_shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.3);
$light_bg_color: #fafafa;
$category_box_shadow: 0 0 12px 1px rgba($themeColorTwo, 0.8);
$category_border_radius: 8px;

$borderRadius: 30px;
$borderColor: lighten($themeColorOne, 70%);
$shadow: 0 0 10px rgba($themeColorOne, .2);

// SELECTION: цвет фона и текста при выделении его курсором
$selectionBgColor: $themeColorTwo;
$selectionFontColor: #fff;

// BODY
$bodyBgColor: $primary_color_1; //white
$bodyFontColor: $primary_color_2; // black

// WRAPPER
$wrapperBgColor: $primary_color_1;

// HEADER: цвет фона шапки сайта
$headerBgColor: $primary_color_1;
$headerFontColor: $themeColorOne;

// Text Highlight: цвет фона и текста при добавлении к нему .highlighted
$textHighlightBgColor: $themeColorTwo;
$textHighlightColor: #fff;

// MENU
$menuBgColor: $primary_color_1;
$menuBgColorActive: $primary_color_1;
$menuFontColor: $themeColorOne;
$menuFontColorActive: $themeColorTwo;

//Sub Menu
$menuMobileSubMenuBGColor: lighten($themeColorOne, 10%);
$menuMobileTextColor: #fff;
$menuMobileSubMenuLinkFontSize: 18px;
$menuMobileSubMenuTextColor: $menuMobileTextColor;
$menuMobileSubMenuBGOnHover: darken($themeColorTwo, 10%);
$menuMobileSubMenuTextColorOnHover: #fff;

// MENU Mobile
$navArrowColor: #fff;
$navHeaderMobileBGColor: $themeColorTwo;
$navHamburgerMobileColor: #fff;
$menuMobileBGColor: $themeColorOne;
$menuMobileLinkFontSize: 20px;

$hamburger-offset: 8px;
$hamburger-duration: .1s;
$hamburger-delay: .1s;
$hamburger-color: $themeColorTwo;

$menu-close-size: 25px;
$menu-close-color: #fff;
$menuContainerMobilePaddingTop: 20%;

// TITLES
$titleFontColor: $themeColorOne;
$titleFontColorActive: lighten($titleFontColor, 10%);

// LINKS
$linkFontColor: #000;
$linkFontColorActive: lighten($linkFontColor, 20%);

// TABLE
$tableBgColor: $themeColorTwo;
$tableBgColorActive: lighten($themeColorTwo, 10%);
$tableBorderColor: #fff;
$tableBorderColorActive: #989898;
$tableOddBgColor: $themeColorOne;
$tableOddFontColor: #fff;
$tableEvenBgColor: $themeColorTwo;
$tableEvenFontColor: #fff;

// TEXT
$textMutedColor: #aaa;

// Icons
$iconColor: $themeColorTwo;
$iconColorActive: lighten($themeColorTwo, 10%);
$iconColorReversed: $bodyBgColor;

// FORMS
$formFieldBorderWidth: 1px;
$formFieldBorderColor: lighten($themeColorOne, 60%);
$formFieldPadding: 10px 8px;
$formFieldTextColor: #000;
$formFieldTextSize: 13px;
$formFieldBorderRadius: $borderRadius;
$formFieldBackgroundColor: #fff;
$inputFieldMinHeight: 38px;
$formBgColor: lighten($themeColorOne, 75%);

// FOOTER
$footerBgColor: $themeColorOne;
$footerFontColor: #fff;
$footerLinkColorActive: darken($footerFontColor, 5%);

// Pagination
$paginationActiveLink: $themeColorTwo;
$paginationActiveLinkText: #fff;
$paginationLinkOnHover: $themeColorTwo;
$paginationLinkOnHoverText: #fff;

//WOOCOMMERCE
$wooThemeColor: $themeColorTwo;

// On sale
$onsaleBackgroundColor: $wooThemeColor;
$onsaleFontColor: #fff;

// Products price
$productsPriceFontColor: $wooThemeColor;

// Single Product page
$productPriceFontColor: $wooThemeColor;

// error
$errorBorderTopColor: #b81c23;
$errorIconFontColor: #b81c23;

// info
$infoBorderTopColor: #1e85be;
$infoIconFontColor: #1e85be;

// message
$messageBorderTopColor: $themeColorTwo;
$messageIconFontColor: $themeColorTwo;

//WOOCOMMERCE end
